@import "~normalize.css";
@import "font.css";

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/webpack.png");
    background-size: cover;

    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.code {
    color: cadetblue;
}